@import '@/styles/colors.scss';

header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $charcoal;
    height: 200px;
    & p.headline {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        align-items: center;
        text-align: center;
        margin: 8px 0 24px;
        max-width: 400px;

    } & .splash-content {
        padding: 24px 32px 24px 32px;
    }
}
header.header-internal {
    height: 36px;
    justify-content: space-between;
    & h2 {
        margin: 16px;
    } & .splash-content {
        padding: 0;
        position: fixed;
        left: 50%;
        width: 244px;
        transform: translateX(-44%);
        & img {
            width: 28px;
            margin-right: 8px;
        }
    } & .logo-wrapper {
        margin: 0;
        & h1 {
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            margin: 0;
            line-height: normal;
            letter-spacing: 0.2px;
        }
        
    }
}
.splash-img img{
    max-width: 40vw;
    margin: 16px;
    max-height: 175px;
}