@import '@/styles/colors.scss';

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    & p.headline {
        font-size: 22px;
        font-weight: 400;
        line-height: 42px;
        align-items: center;
        margin: 8px 0 24px;
    } & .splash-content {
        padding: 24px 24px 24px 0;
    }
}
header.header-internal {
    height: 48px;
    justify-content: space-between;
    & h2 {
        margin: 24px;
    } & .splash-content {
        padding: 0;
        position: fixed;
        left: 50%;
        width: 244px;
        transform: translateX(-44%);
        & img {
            width: 32px;
            margin-right: 16px;
        }
    } & .logo-wrapper {
        margin: 0;
        & h1 {
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 0.2px;
        }
        
    }
}
.splash-img img{
    max-width: 40vw;
    margin: 0;
    max-height: 300px;
}