@import '@/styles/colors.scss';

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    & p.headline {
        font-size: 22px;
        font-weight: 400;
        line-height: 42px;
        align-items: center;
    } & p.name {
        text-align: right;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 36px;
        margin: 12px 24px;
        position: fixed;
        right: 0;
        top: 0;
    } & p.name-internal {
        position: relative;
        // margin: 12px;
    } & .splash-content {
        padding: 24px 24px 24px 0;
    }
}
header.header-internal {
    height: 48px;
    justify-content: space-between;
    & h2 {
        margin: 24px;
    } & .splash-content {
        padding: 0;
        position: fixed;
        left: 50%;
        width: 200px;
        margin-right: -100px;
        transform: translateX(-50%);
        & img {
            width: 24px;
        }
    } & .logo-wrapper h1 {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.2px;
    }
}
.splash-img img{
    max-width: 40vw;
    margin: 0;
    max-height: 300px;
}