@import '@/styles/colors.scss';

.logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $charcoal;
    margin:4px 0 0;
    & h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
        margin: 8px 0 8px;
        letter-spacing: 0.2px;
    } & img {
        width: 48px;
        margin-right: 16px;
    }

}