@import '@/styles/colors.scss';

html {
    margin: 0;
}
body {
    margin: 0;
    overflow: hidden;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $charcoal;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    background: $tan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
h3 {
    font-family: 'Domine', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.48px;  
}

h6, p {
    font-family: 'Domine', serif;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.home {
    overflow: hidden;
    height: calc(100vh - 254px);
}
.citation-style {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Domine', serif;
    font-weight: 800;
    color: $plum;
    margin-right: 4px;
    position: relative;
    top: -12px;
}
.content-text-citations p {
    line-height: 24px;
    display: flex;
    & span {
        display: block;
        margin-left: 16px;
    }
}
.strong {
    font-weight: 900;
    font-size: 22px;
    line-height: 32px;
}
