@import '@/styles/colors.scss';

html {
    margin: 0;
}
body {
    margin: 0;
}
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $charcoal;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: $tan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

h6, p {
    font-family: 'Domine', serif;
}

header {
    border-bottom: 1px solid $charcoal;
    height: 300px;

}
.home {
    overflow: hidden;
}
