@import '@/styles/colors.scss';

nav {
    // padding: 30px;
    border-top: 1px solid $charcoal;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 0 24px;



    a {
        padding: 0px 48px;
        margin: 8px 8px 16px 0;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.36px;
        border-radius: 8px;
        border: 1px solid $charcoal;
        color: $charcoal;
        background: $vanilla;
        box-shadow: 0px 8px 0px 0px $charcoal;
        text-decoration: none;
        &:hover {
            background: $tan;
        }
        &.router-link-exact-active {
        color: $vanilla;
        background: $charcoal;
        box-shadow: 0 0 0 0 $charcoal;
        transform: translateY(8px);
        }
    }
}