@import '@/styles/colors.scss';

nav {
    // padding: 30px;
    border-top: 1px solid $charcoal;
    height: 74px;
    display: flex;
    flex-direction: row;
    padding: 0 24px;
    background: $tan;
    z-index: 1;
    a, button {
        color: inherit;
        font: 'Inter', sans-serif;
        cursor: pointer;
        outline: inherit;
        padding: 0 20px;
        margin: 8px 8px 16px 0;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.36px;
        border-radius: 8px;
        border: 1px solid $charcoal;
        fill: $charcoal;
        color: $charcoal;
        background: $vanilla;
        box-shadow: 0px 8px 0px 0px $charcoal;
        text-decoration: none;
        &:hover {
            background: $tan;
        }
        &.router-link-exact-active, &:active {
            color: $vanilla;
            fill: $vanilla;
            background: $charcoal;
            box-shadow: 0 0 0 0 $charcoal;
            transform: translateY(8px);
            padding: 0 20px 1px;
        } 
    } & button {
        height: 51px;
        display: flex;
        flex-direction: row;
        align-content: center;
        & svg {
            margin-right: 6px;
            height: 22px;
        }
        & span {
            // width: 84px;
            text-align: left;
        }
    } & p.name {
        text-align: right;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 50px;
        margin: 12px 24px;
        position: fixed;
        right: 0;
        bottom: 0;
    } & p.name-internal {
        position: relative;
        // margin: 12px;
    }
}
.ham-menu {
    display: none;
}
.teaserBtn-wrap {
    display: flex;
    justify-content: flex-end;
    // height: 74px;
    // border-top: 1px solid $charcoal;
    // position: absolute;
    // bottom: 0;
    // right: 0;
    width: auto;
    z-index: 2;
}
.teaserVid-wrap {
    height: 0;
    width: 100vw;
    // padding: 24px;
    position: absolute;
    bottom: 0;
    transition: height 0.3s;
    overflow: hidden;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: #33353fc9;
    & iframe {
        width: 80%;
        height: 63%;
        margin: 0 24px 6%;
    }
}
.pop-up {
    height: 100dvh;
    opacity: 1;
}
