@import '@/styles/colors.scss';
.page {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 130px);
  & .content-wrapper {
    display: flex;
    flex-direction: row;
    margin: 24px;
    height: calc(100vh - 178px);
    // padding: 24px 105px;
    border-radius: 24px;
    border: 1px solid $charcoal;
    background: $vanilla;
    overflow: hidden;
    transition: opacity 0.3s;
    & img {
      // position: av;
      // margin-left: -105px;
      object-fit: cover;
      width: 30vw;
    } & .content-text {
      margin: 24px 0 24px 80px;
      padding: 24px 105px 24px 0;
      overflow-y: scroll;
    } 
  } & .img-right {
    justify-content: space-between;
    & .content-text {
        margin: 0 0 0 105px;
        padding: 24px 80px 24px 0;
        overflow-y: scroll;
      } 
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.arrowBtns {
  position: fixed;
  bottom: 0px;
  right: 12px;
  & button {
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0px 13px;
    margin: 8px 8px 16px 0;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
    border-radius: 8px;
    border: 1px solid $charcoal;
    color: $charcoal;
    fill: $charcoal;
    background: $vanilla;
    box-shadow: 0px 8px 0px 0px $charcoal;
    text-decoration: none;
    &:hover {
        background: $tan;
    } &:active {
        color: $vanilla;
        fill: $vanilla;
        background: $charcoal;
        box-shadow: 0 0 0 0 $charcoal;
        transform: translateY(8px);
        }
  } & button svg {
    margin-bottom: -6px;
    height: 24px;
  }
}