@import '@/styles/colors.scss';
.page {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 130px);
  overflow: hidden;
  & .content-wrapper {
    margin: 24px;
    height: calc(100vh - 178px);
    border-radius: 24px;
    border: 1px solid $charcoal;
    background: $vanilla;
    overflow: hidden;
    transition: opacity 0.3s;
    & .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow-y: auto;
    }
    & .img-wrap {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 0 0 0;
        width: 100%;
        // margin: -48px calc(-20vw - 48px) 0;
      } & img {
        object-fit: cover;
        width: 100%;
        // max-width: 600px;
        max-height: 300px;
        border-radius: 0;
        border-bottom: 1px solid $charcoal;
      } & .content-text {
        margin: 24px  80px 24px;
        max-width: 600px;
        
        & .subhead {
          font-weight: 800;
          margin: 32px 0 0;
        }
      } & p.caption {
        // max-width: 600px;
        width: 100%;
        line-height: 1.5;
        margin: 12px 0 0 0;
        font-size: 14px;
        font-style: italic;
        text-align: center;
      }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.arrowBtns {
  position: fixed;
  bottom: 0px;
  right: 12px;
  z-index: 100;
  & button {
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0px 13px;
    margin: 8px 8px 16px 0;
    height: 50px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.36px;
    border-radius: 8px;
    border: 1px solid $charcoal;
    color: $charcoal;
    fill: $charcoal;
    background: $vanilla;
    box-shadow: 0px 8px 0px 0px $charcoal;
    text-decoration: none;
    &:hover {
        background: $tan;
    } &:active, &:disabled {
        color: $vanilla;
        fill: $vanilla;
        background: $charcoal;
        box-shadow: 0 0 0 0 $charcoal;
        transform: translateY(8px);
      } 
  } & button svg {
    margin-bottom: -6px;
    height: 24px;
  }
}
.pageBtns {
  position: relative;
  display: flex;
  margin: 0 -24px 32px 0;
  max-width: 600px;
  & .previousBtn svg {
    padding: 0 8px 0 0;
  } & .forwardBtn svg {
    padding: 0 0 0 8px;
  }
}